.about-equipe {
  display: flex;
  justify-content: center;
  color: #C65759;
  font-family: 'Epilogue', sans-serif;
  background-size: cover;
  background-position: center;
  // padding: 70px 0;
  // height: 405px;
  // margin-top: 100px;
  border: 1px solid #C65759;
  border-radius: 10px;

  h3 {
    padding: 60px;

  }


}

.about-details {
  font-family: 'Epilogue', sans-serif;
  // margin: 50px;
h1 {
  color: #C65759;
}
p{
  color: #362828;
}
.nous {
  display: flex;
  justify-content: space-evenly;
  #mel {
    margin-left: 100px;
  }
  #alex {
    margin-right: 100px;
  }
}
}

.about-qui {
  align-items: center;
  justify-content: left;
  margin-bottom: 50px;
  text-align: left;
  margin-top: 50px;
  text-justify: left;
}

.about-projet {
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  text-align: right;
  text-justify: right;
  margin-top: 50px;
}

.about-sources {
  align-items: center;
  justify-content: right;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: left;
  text-justify: left;

}

.btn-about {
  margin:auto;
  margin-top: 50px;
  width: 220px;
  height: 55px;
}

.main-container-about {
  margin-top: 58px;
  min-height: calc(100vh - 116px);
}
