<div class='d-flex flex-column'>
  <div class="herbe">
  </div>
  <div class="footer-vert">
    <p class='text-footer'>Behind Meat</p>
    <p class='text-footer'>Made with ❤️ and care in Nice.</p>
  </div>
</div>
