<!--div equipe-->
<div class="container main-container-about">
<div class="about-equipe">
<h3><em>« Ne doutez jamais qu'un petit groupe de personnes peuvent changer le monde. En fait, c'est toujours ainsi que le monde a changé. » </em> <br> <br>Margaret Mead, anthropologue américaine</h3>
</div>

<!--div about-->

<div class="about-details">
    <div class="about-qui">
      <h1>Qui sommes-nous?</h1>
      <br>
      <h3>Nous sommes trois élèves du Wagon, en reconversion professionelle dans le développement web.<br> Alexia et Mélanie, flexitariennes, et Morgane, végétarienne... <br>Nous sommes toutes les trois amoureuses d'animaux, très sensibles à leur cause ainsi qu'à la préservation de l'environnement.</h3>
    </div>
    <div class="about-projet">
      <h1>Le projet</h1>
      <br>
      <h3>Sensibles à la cause animale, il nous a semblé important de nous engager sur un sujet qui nous tenait à coeur dans le cadre de notre formation.
      <br>Le projet est né d'une idée d'Alexia qui s'est demandée quel était l'impact réel de notre consommation de viande. Des informations sont disponibles sur le web mais, il est souvent difficile de s'y retrouver et aucun site ne permet d'obtenir des données personnalisées sur son impact selon sa propre consomation.<br><strong> Behind Meat</strong> est né.
      <br><br>L'objectif est d'accompagner les personnes qui souhaitent réduire leur impact en diminuant leur consommation de viande et indirectement de réduire l’empreinte environnementale de l’alimentation, et par conséquence de la partie liée à l’élevage, en diminuant les émissions des gaz à effet de serre, en économisant sur les ressources en eau et en diminuant leur pollution par des nitrates, en réorientant des terres cultivables vers l’alimentation humaine sans augmenter la déforestation.</h3>
    </div>
    <div class="about-sources">
      <h1>Nos sources</h1>
      <br>
      <h3><a href="https://www.l214.com/animaux/chiffres-cles/statistiques-nombre-animaux-abattus-monde-viande/" target="_blank">Association L214</a> <br>
      <a href="https://www.viande.info/" target="blank">Viande.info</a><br>
      <a href="https://ourworldindata.org/environmental-impacts-of-food" target="blank">Our world in data</a><br>
      <a href="https://adaptt.org/about/the-kill-counter.html" target="blank">Adaptt</a><br>
      <a href="https://www.fao.org/home/fr" target="blank">FAO</a><br>
      </h3>
    </div>
</div>


<!-- btn-->
<a class="pink_button btn-about" href="https://twitter.com/BehindMeatinfo" target="_blank" >Nous contacter</a>
</div>
<!--footer-->
