<!--div equipe-->
<div class="container main-container-about">
<div class="about-equipe">
<h3><em>« Ne doutez jamais qu'un petit groupe de personnes peut changer le monde. En fait, c'est toujours ainsi que le monde a changé. » </em> <br> <br>Margaret Mead, anthropologue américaine</h3>
</div>

<!--div about-->

<div class="about-details">
    <div class="about-qui">
      <h1>Qui sommes-nous?</h1>
      <br>
      <h4>Nous sommes trois Women Coders étudiant au Wagon, en reconversion professionelle dans le développement web.
      <br> Alexia et Mélanie, flexitariennes, et Morgane, végétarienne... </h4>
      <h4>Nous sommes toutes les trois amoureuses d'animaux, très sensibles à leur cause ainsi qu'à la préservation de l'environnement.</h4>
    </div>
    <div class="about-projet">
      <h1>Le projet</h1>
      <br>
      <h4><strong>1380 milliards, c’est le nombre d’animaux tués par an dans le monde pour satisfaire notre besoin en consommation de viande.</strong> <h4>
      <h4>La production de viande est un véritable problème environnemental, que ce soit en termes :<h4>
        <ul>
          <li><h4>de déforestation ;</h4></li>
          <li><h4>d'empreinte carbone ;</h4></li>
          <li><h4>d'utilisation de grandes quantités d’eau douce et de sa pollution ;</h4></li>
          <li><h4>de maltraitance animale...</h4></li>
        </ul>
      <h4>Sensibles à la cause animale, il nous a semblé important de nous engager sur un sujet qui nous tenait à coeur dans le cadre de notre formation.
      <br>
      <br>Le projet est né d'une idée d'Alexia qui s'est demandée quel était l'impact réel de notre consommation de viande.
      <br>
      <br>Des informations sont disponibles sur le web mais il est souvent difficile de s'y retrouver et aucun site ne permet d'obtenir des données sur son propre impact.
      <br>
      <br><strong> Behind Meat</strong> est né.
      <br>
      <br>L'objectif est d'accompagner les personnes qui souhaitent limiter leur empreinte environnementale liée à l’élevage, en diminuant leur consommation de viande.
      <br> Grâce à ces petits gestes du quotidien, nous pouvons tous contribuer à réduire les émissions de gaz à effet de serre, la déforestation ainsi qu'à économiser les ressources d'eau et limiter sa pollution. </h4>

    </div>
    <div class="about-sources">
      <h1>Nos sources</h1>
      <br>
      <h4><a href="https://www.l214.com/animaux/chiffres-cles/statistiques-nombre-animaux-abattus-monde-viande/" target="_blank">Association L214</a> <br>
      <a href="https://www.viande.info/" target="blank">Viande.info</a><br>
      <a href="https://ourworldindata.org/environmental-impacts-of-food" target="blank">Our world in data</a><br>
      <a href="https://adaptt.org/about/the-kill-counter.html" target="blank">Adaptt</a><br>
      <a href="https://www.fao.org/home/fr" target="blank">FAO</a><br>
      </h4>
    </div>
    <div class="nous">
      <img id="mel" src="https://res.cloudinary.com/dwvsbgwap/image/upload/v1670509775/Melanie_bmtumc.png" alt="Mélanie" width= 150px>
      <img id="momo" src="https://res.cloudinary.com/dwvsbgwap/image/upload/v1670509775/Morgane_bevqtk.png" alt="Morgane"width=149px>
      <img id="alex"src="https://res.cloudinary.com/dwvsbgwap/image/upload/v1670509775/Alexia_pqpnnf.png" alt="Alexia"width=155px>
    </div>
</div>


<!-- btn-->
<a class="pink_button btn-about mb-5" href="https://twitter.com/BehindMeatinfo" target="_blank" >Nous contacter</a>
</div>
<!--footer-->
