<!--div equipe-->

<div class="about-equipe">
  <h1>Petite photo de nous</h1>
</div>

<!--div about-->

<div class="about-details">
    <div class="about-qui"><h2>Qui sommes-nous?</h2><br>
      <p>Nous sommes trois élèves du Wagon, en reconversion professionelle dans le développement web. Alexia et Mélanie, flexitariennes, et Morgane, végétarienne depuis 6ans...nous sommes toutes les trois amoureuses d'animaux, très sensibles à leur cause, ainsi qu'à l'environnement.</p>
    </div>
    <div class="about-projet"><h2>Le projet</h2><br>
      <p>Toutes les trois sensibles à la cause animale, il nous a semblé important de s'egangager pour notre projet de Demo Day du wagon sur un sujet qui nous tenait à coeur. Le projet est né d'une idée d'Alexia qui s'est demandé quel était l'impact réel derrière notre consomation de viande. Des informations sont disponibles sur le web mais il est souvent difficile de s'y retrouver, et aucun site ne permet d'obtenir son impact personnel selon sa propre consomation. Behind Meat est né, pour les flexitariens ou omnivores sensibles à leur impact</p>
    </div>
    <div class="about-sources"><h2>Nos sources</h2><br>
      <p><a href="https://www.l214.com/animaux/chiffres-cles/statistiques-nombre-animaux-abattus-monde-viande/" target="_blank">Association L214</a> <br>
      <a href="https://www.viande.info/" target="blank">Viande.info</a>
      </p>
    </div>
</div>

<!-- btn-->
<a class="pink_button btn-about" href="#">Nous contacter</a>

<!--footer-->
