<!--div equipe-->

<div class="about-equipe">
  <h1>L'equipe</h1>
</div>

<!--div about-->

<div class="about-details">
    <div class="about-qui"><h2>Qui sommes-nous?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at orci vitae lacus pellentesque interdum et at neque. Curabitur posuere tortor sed augue dignissim efficitur. </p>
    </div>
    <div class="about-projet"><h2>Le projet</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at orci vitae lacus pellentesque interdum et at neque. Curabitur posuere tortor sed augue dignissim efficitur.</p>
    </div>
    <div class="about-sources"><h2>Nos sources</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at orci vitae lacus pellentesque interdum et at neque. Curabitur posuere tortor sed augue dignissim efficitur.</p>
    </div>
</div>

<!-- btn-->
<a class="pink_button btn-about" href="#">Nous contacter</a>

<!--footer-->
