

<div class='dashboard-container'>
<br>
  <h1>Bonjour {name},</h1>

<!-- Conso générale Div 1 -->

<div class='recap-conso'>
  <div class='day-conso'>
    <h2 class='title-conso'>Ma dernière consommation</h2>
    <canvas id="myChart"></canvas>
<%# <canvas id="myChart" data-meats=<%= @meats.pluck(:name) data-consos = @consos %>
<%# </canvas> %>
    <a class="pink_button btn-dashboard-pink" href="#">Mon suivi</a>
    <a class="white_button btn-dashboard-pink" href="#">Modifier</a>
  </div>

  <div class='dashboard-row'>
      <h2 class='title-conso-globale'>L'impact global de ma consommation</h2>
        <div class='grid-conso'>
          <div class='card card-dashboard'>
            <div class='dash-card-text'>
              <i class="fa-solid fa-droplet"></i>
              <p><b>Consommation d'eau</b></p>
              <p> ??? Litres</p>
            </div>
          </div>

          <div class='card card-dashboard'>
            <div class='dash-card-text'>
              <i class="fa-solid fa-cloud"></i>
              <p><b>Emission carbone</b></p>
              <p> ??? Co2</p>
            </div>
          </div>

          <div class='card card-dashboard'>
            <div class='dash-card-text'>
              <i class="fa-solid fa-tree"></i>
              <p><b>Déforestation</b></p>
              <p> ??? arbres</p>
            </div>
          </div>

          <div class='card card-dashboard'>
            <div class='dash-card-text'>
              <i class="fa-solid fa-cow"></i>
              <p><b>Souffrance animale</b></p>
              <p> ??? animaux tués</p>
            </div>
          </div>
        </div>
  </div>
</div>

<!-- Conso sur 7 jours - Div 2 -->

  <div class='conso-sept'>
    <h3 class='week-conso'>Ma consommation sur 7 jours</h3>
  </div>

<!-- APIs -->

  <div class='dashboard-apis'>
    <div class='dash-api'>
      <div class='api-title'>
        <h3 class='dashboard-recettes'>Idées recettes</h3>
        <h4>Marmiton</h4>
      </div>
    </div>

    <div class='dash-api'>
      <div class='api-title'>
      <h3 class='dashboard-tweets'>Ceci pourrait vous intéresser</h3>
        <h4>Twitter</h4>
      </div>
    </div>
  </div>

<!-- Cards associations -->

  <div class='cards-associations'>
    <h3 class='dashboard-assos'>Associations</h3>
  </div>
</div>
