

<div class='container dashboard-container'>
<br>
  <h1>Bonjour {name},</h1>

  <div>
    <h2 class='day-conso'>Ma dernière consommation</h2>
  </div>

  <div class='row dashboard-row'>
    <h2 class='global-conso'>L'impact global de ma consommation</h2>
      <div class='card card-dashboard'>
        <p class='dash-card'>Consommation d'eau</p>
      </div>

      <div class='card card-dashboard'>
        <p class='dash-card'>Emission carbone</p>
      </div>

      <div class='card card-dashboard'>
        <p class='dash-card'>Déforestation</p>
      </div>

      <div class='card card-dashboard'>
        <p class='dash-card'>Souffrance animale</p>
      </div>
  </div>

  <div>
    <h3 class='week-conso'>Ma consommation sur 7 jours</h3>
  </div>

  <div>
    <h3 class='api-marmiton'>Idées recettes</h3>
    <h4>Marmiton</h4>
  </div>

  <div>
    <h3 class='api-twitter'>Ceci pourrait vous intéresser</h3>
    <h4>Twitter</h4>
  </div>

  <div>
    <h3 class='dashboard-assos'>Associations</h3>
  </div>

</div>
