<!-- DIV PRINCIPALE -->
<div class="main-container-homepage">
    <!-- DIV QUI CONTIEN TEXT ET BUTTONS -->
    <div class="content-wrapper-homepage">
        <div class="text-homepage">
            <h2>Quel impact a votre consommation de viande ?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at orci vitae lacus pellentesque interdum et at neque. Curabitur posuere tortor sed augue dignissim efficitur.</p>
        </div>
        <div class='cochon-btn'>
          <img src="https://res.cloudinary.com/dwvsbgwap/image/upload/v1669805113/cochon_hccmxx.png" alt="cochon" class="cochon">
          <div class="buttons-homepage">
              <a href='/new_day' class='pink_button'>calculer l'impact</a>
              <a href="/apropos" class="white_button">en savoir plus</a>
          </div>
        </div>
    </div>
</div>
