<!-- DIV PRINCIPALE -->
<div class="main-container-homepage">
    <!-- DIV QUI CONTIEN TEXT ET BUTTONS -->
    <div class="content-wrapper-homepage">
        <div class="text-homepage">
            <h1>Quel impact a votre consommation de viande ?</h1><br>
            <h3>Découvrez l'impact écologique de votre consommation de viande, et améliorez-vous grâce au suivi quotidien sur Behind Meat.</h3>
        </div>
        <div class='cochon-btn'>
          <img src="https://res.cloudinary.com/dwvsbgwap/image/upload/c_crop,g_south,h_121,x_0,y_10/v1669805113/cochon_hccmxx.png" alt="cochon" class="cochon">
          <div class="buttons-homepage">
              <a href='/days/new' class='pink-button-homepage'>calculer l'impact</a>
              <a href="/apropos" class="white-button-homepage">en savoir plus</a>
          </div>
        </div>
    </div>
</div>
