<div class="div-general-form d-flex">
  <div class="div-text-form">
      <img src="https://res.cloudinary.com/dwvsbgwap/image/upload/v1669939897/ombre_gs8dck.png" alt="ombre" class="ombre">
     <p class="saviez-vous">Saviez-vous que...</p>
     <p class="text-saviez-vous">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
  </div>
  <div class="container-form-quantity">
    <h2>Combien de viande avez-vous consommé aujourd'hui ?</h2>

        <%= simple_form_for @day, data: { controller: 'flatpickr' } do |f| %>
          <%= f.input :date, as: :string,
                # altInput: true,
                dateFormat: "DD-MM-YYYY",
                input_html: { data: { flatpickr_target: "date" } } %>
        <% end %>

      <%# <div class='date-form'>
        <% simple_form_for @day do |f|%>
          <%# <%=f.input :date, as: :string, class: 'form-control datepicker'%>
        <%# <%end%>
      <%# </div>  %>
    <div class="grid-animaux">
    <%# card vache %>
      <div class="card card-form" style="width: 18rem;">
        <h4>Viande de boeuf:</h4>
        <div class="card-body-animal">
          <button id="btn_decrement_vache" class="button-quantity" type="button"> - </button>
          <div class="input-quantity">
            <h5 id="quantity_vache">0 </h5>
          </div>
          <button id="btn_increment_vache" class="button-quantity" type="button"> + </button>
        <div class="portrait-animaux">
          <img src="https://res.cloudinary.com/dwvsbgwap/image/upload/v1669935093/Mask_group_ft8exs.png" class="card-img-top" alt="...">
        </div>
        </div>
      </div>
    <%# card cochon %>
      <div class="card card-form" style="width: 18rem;">
        <h4>Viande de porc:</h4>
        <div class="card-body-animal">
          <button id="btn_decrement_cochon" class="button-quantity" type="button"> - </button>
          <div class="input-quantity">
            <h5 id="quantity_cochon">0 </h5>
          </div>
          <button id="btn_increment_cochon" class="button-quantity" type="button"> + </button>
        <div class="portrait-animaux">
          <img src="https://res.cloudinary.com/dwvsbgwap/image/upload/v1669935089/Mask_group-2_iw20ad.png" class="card-img-top" alt="...">
        </div>
        </div>
      </div>
    <%# card poulet %>
      <div class="card card-form" style="width: 18rem;">
         <h4>Viande de volaile:</h4>
        <div class="card-body-animal">
          <button id="btn_decrement_poulet" class="button-quantity" type="button"> - </button>
          <div class="input-quantity">
            <h5 id="quantity_poulet">0 </h5>
          </div>
          <button id="btn_increment_poulet" class="button-quantity" type="button"> + </button>
        <div class="portrait-animaux">
          <img src="https://res.cloudinary.com/dwvsbgwap/image/upload/v1669935089/Mask_group-1_qsfg1e.png" class="card-img-top" alt="...">
        </div>
        </div>
      </div>
    <%# card mouton %>
      <div class="card card-form" style="width: 18rem;">
        <h4>Viande de mouton:</h4>
        <div class="card-body-animal">
          <button id="btn_decrement_mouton" class="button-quantity" type="button"> - </button>
          <div class="input-quantity">
            <h5 id="quantity_mouton" >0 </h5>
          </div>
          <button id="btn_increment_mouton" class="button-quantity" type="button"> + </button>
        <div class="portrait-animaux">
          <img src="https://res.cloudinary.com/dwvsbgwap/image/upload/v1669935089/Mask_group-3_z3mfdc.png"  alt="...">
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
//JS pour la card vache
  let incrementVache = document.getElementById("btn_increment_vache");
  let decrementVache = document.getElementById("btn_decrement_vache");
  let counterVache = document.getElementById("quantity_vache");

  let numVache = 0;

  incrementVache.onclick = () => {
    let numVache = parseInt(counterVache.innerHTML);
    counterVache.innerHTML = numVache + 1;
  }

  decrementVache.onclick = () => {
    const numVache = parseInt(counterVache.innerHTML);
    counterVache.innerHTML = numVache - 1;
  }

  //localStorage.setItem("vacheQuantity", numVache);
 // console.log(localStorage);
  console.log(numVache);


//JS pour la card cochon
  let incrementCochon = document.getElementById("btn_increment_cochon");
  let decrementCochon = document.getElementById("btn_decrement_cochon");
  let counterCochon = document.getElementById("quantity_cochon");

  let numCochon = 0;

  incrementCochon.onclick = () => {
    let numCochon = parseInt(counterCochon.innerHTML);
    counterCochon.innerHTML = numCochon + 1;
  }

  decrementCochon.onclick = () => {
    const numCochon = parseInt(counterCochon.innerHTML);
    counterCochon.innerHTML = numCochon - 1;
  }

  let cochonQuantity = localStorage.setItem("cochonQuantity", numCochon)
  console.log(numCochon)
  console.log('cochon terminé!')

  //JS pour la card poulet
  let incrementPoulet = document.getElementById("btn_increment_poulet");
  let decrementPoulet = document.getElementById("btn_decrement_poulet");
  let counterPoulet = document.getElementById("quantity_poulet");

  let numPoulet = 0;

  incrementPoulet.onclick = () => {
    let numPoulet = parseInt(counterPoulet.innerHTML);
    counterPoulet.innerHTML = numPoulet + 1;
  }

  decrementPoulet.onclick = () => {
    const numPoulet = parseInt(counterPoulet.innerHTML);
    counterPoulet.innerHTML = numPoulet - 1;
  }

  let pouletQuantity = localStorage.setItem("cochonQuantity", numPoulet)
  console.log(numPoulet)
  console.log('poulet terminé!')

   //JS pour la card mouton
  let incrementMouton = document.getElementById("btn_increment_mouton");
  let decrementMouton = document.getElementById("btn_decrement_mouton");
  let counterMouton = document.getElementById("quantity_mouton");

  let numMouton = 0;

  incrementMouton.onclick = () => {
    let numMouton = parseInt(counterMouton.innerHTML);
    counterMouton.innerHTML = numMouton + 1;
  }

  decrementMouton.onclick = () => {
    const numMouton = parseInt(counterMouton.innerHTML);
    counterMouton.innerHTML = numMouton - 1;
  }

  let moutonQuantity = localStorage.setItem("moutonQuantity", numMouton)
  console.log(numMouton)
  console.log('mouton terminé!')
</script>
