
.grid-animaux {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:16px;
  margin-top: 60px;

}
.div-text-form {
  background: linear-gradient(180.22deg, #FF3E6A 0.53%, #FAAD81 100%);
  margin-left:-180px;
  width: 40%;
  margin-bottom: -60px;
  height: 72vw;

  .text-saviez-vous{
    margin-left: 116px;
    width: 300px;
    color: white;
  }
}
// gestion quantité

  .button-quantity  {
    width: 40px;
    height: 30px;
    background: #EDCDCE;
    border-radius: 8px;
    border: none;
  }
.card-form{
  border-radius: 25px !important;
  padding: 20px;

  h4{
    color: #C65759;
  }
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
}

  .input-quantity {
    width: 70px;
    height: 30px;
    border: none;
    background: #F5F5F5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .card-body-animal {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  #card-vegetarien {
    cursor: pointer;
  }

  .saviez-vous {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    text-align: center;
    color:white;
  }
.container-form-quantity {
  margin-left: 200px;


  h2 {
    color: #C65759;
    font-family: 'Epilogue', sans-serif;
    // width: 420px;
    padding-top: 70px;
    padding-bottom: 26px;
}
}
.portrait-animaux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width:fit-content;
  margin-bottom: 10px;
}
.ombre {
  height: 117px;
  width: 241px;
  margin-left: 110px;
  margin-top: 280px;
}

#submit-button {
  background: linear-gradient(93.22deg, #FF6769 0.53%, #FF6769 0.54%, #FB7550 100%) !important;
  border-radius: 16px!important;
  font-family: 'Epilogue', sans-serif!important;
  font-style: normal!important;
  font-weight: 700!important;
  font-size: 16px!important;
  line-height: 21px!important;
  display: flex!important;
  align-items: center!important;
  text-align: center!important;
  justify-content: center!important;
  color: #FFF2EF !important;
  text-decoration: none!important;
  padding: 15px 20px!important;
  margin: auto;
  margin-top: 60px;
  width: 216px;
  display:flex;
  justify-content: center;
  align-items: center;
}
