
.grid-animaux {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:16px;

.div-text-form {
  background: linear-gradient(93.22deg, #FF6769 0.53%, #FF6769 0.54%, #FB7550 100%);
  margin-left:-180px;
  width: 40%;
  margin-bottom: -60px
}
// gestion quantité
#gestion-quantity {


  .button-quantity  {
    width: 50px;
    height: 50px;
    background: #EDCDCE;
    border-radius: 8px;
    border: none;
  }


  #input-quantity {
    width: 70px;
    height: 50px;
    border: none;
    background: #F5F5F5;
  }



}
