.btn-show-pink {
  background: linear-gradient(93.22deg, #FF6769 0.53%, #FF6769 0.54%, #FB7550 100%) !important;
  border-radius: 16px !important;
  font-family: "Epilogue", sans-serif !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 21px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  justify-content: center !important;
  color: #FFF2EF !important;
  text-decoration: none !important;
  width: 200px;
  margin-top: 30px;
  padding: 11px 25px;
  margin-left: 73px;
}

.title-result {

}
.CO2eq {
  margin:auto;
  padding-top: 10px;
}
.eau {
  margin:auto;
}
.deforestation{
  padding-top: 10px;
}
.pollution {
  padding-top: 10px;
}

// .carte-asso {
//   padding-bottom: 0px;
// }

.btn-asso {
  margin-bottom: 10px !important;
  margin-top:30px;
}
.petite-div-text {
  margin-bottom:20px !important;
  padding-bottom: 35px;
  height: 50px;
}
// .image-container-asso {
//   margin-bottom: 20px;

// }
